.countContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.count {
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 1rem;
    border: none;
    font-size: 2rem;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button.increment {
    background: green;
    color: white;
}

.button.decrement {
    background: red;
    color: white;
}